@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body {
    background-color: black;
    font-family: "Raleway", sans-serif;
    color: #fff;
    width: 100%;
    height: 100vh;
}

/* HEADER */
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: start;
    padding: 3rem 3rem 5rem 3rem;
    justify-content: center;
    border-bottom: 1px solid #33A8DB;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 550px;
    padding: 1rem;
}

.logo {
    border-radius: 16.75rem;
    background: rgba(0, 0, 0, 0.20);
}

.logo img {
    width: 200px;
}

.banner-content h1 {
    font-size: 2.5rem;
    font-weight: 900;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.banner-content p {
    text-align: justify;
    font-size: 1.25rem;
    font-weight: 400;
}

.banner-content button {
    display: flex;
    padding: 1.18rem 3.125rem;
    background-color: transparent;
    color: #31A8DD;
    border: 2px solid #3BA1CD;
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.21rem;
    cursor: pointer;
    transition: .5s;
    text-transform: uppercase;
}

.banner-content button:hover {
    transform: scale(1.1);
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

#course {
    width: 100%;
    display: flex;
    padding: 5rem 0;
}

.course-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 792px;
    max-width: 80%;
    margin: 0 auto;
}

.course-content h2 {
    color: #33A8DB;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.38rem;
    text-transform: uppercase;
}

.course-content p {
    font-weight: 400;
}

.modules-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.modules-list .module {
    padding: 1rem 7.93rem;
    border-radius: 3.56rem;
    border: 1px solid #33A8DB;
    background: #252525;
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
}

.modules-list .module span {
    color: #33A8DB;
}

#transform-world {
    width: 100%;
    height: 70vh;
    background-color: blueviolet;
    background-image: url('../images/woman-code.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 2px solid #33A8DB;
    border-bottom: 2px solid #33A8DB;
    position: relative;
}

#transform-world p {
    text-shadow: 3px 2px 0px #33A8DB;
    font-size: 2rem;
    font-weight: 900;
    display: block;
    width: 240px;
    position: absolute;
    top: 30%;
    left: 10%;
}

#professional-challenges {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5rem 0;
    border-bottom: 1px solid #33A8DB;
}

#professional-challenges .prosessional-challenges-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 750px;
    max-width: 80%;
}

#professional-challenges h2 {
    color: #33A8DB;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.38rem;
    text-transform: uppercase;
}

#professional-challenges img {
    width: 659px;
    max-width: 100%;
}

#professional-challenges p {
    text-align: center;
    font-weight: 400;
}

/* FOOTER */
footer {
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer img {
    width: 310px;
    max-width: 80%;
}

footer p a {
    color: #33A8DB;
    font-weight: 700;
    text-decoration: none;
    transition: .5s;
}
footer p a:hover {
    color: #fff;
}